<% unless @inactive_camps.empty? %>
  <div class="panel clearfix">
    <h5>Inactive Camps</h5>
    <ul class="side-nav">
      <% @inactive_camps.each do |camp| %>
        <li><%= link_to camp.name, camp_path(camp) %></li>
      <% end %>
    </ul>
  </div>
<% end %>