<h2>About the A &amp; M Chess Camps</h2>

<%= image_tag 'BoysPlaying2.jpg' %>
<p class="supertiny">&nbsp;</p>
<p> 
  This is an amazing set of camps and if you don't send 
  your kid to this, it obviously means that you don't love 
  him or her. Do you really want your child's spirit crushed by 
  continual defeats in chess tournaments? That's exactly what will 
  happen if they don't enroll in some of our camps. If you care about 
  your child, you'd enroll him or her in every possible camp 
  we offer. Show you really care and DO IT NOW!
</p>