<h2>Welcome Chess Parents!</h2>

<p><%= image_tag 'AlexPlaying10.jpg', class: "left", width: "150" %> The A &amp; M 
  Chess Camps are the finest chess camps in the United States (<em>we concede 
  Russia can do better, but not much better</em>) and guaranteed to 
  <strong>transform your son or daughter into a tiger at the chess board</strong>.  
  The links below will tell you more about our camps, curriculums and 
  instructors and in the future will actually allow you to register your son 
  or daughter for those camps. [<%= link_to "O Happy Day!", "https://www.youtube.com/watch?v=a37bBm8pXSk" %>]
</p>

<p>If you are an administrator (don't lie), <%= link_to "click here to review camps.", camps_path %></p>
