<h2>The A &amp; Privacy Policy</h2>

<p>Our privacy policy is simple, does not require a lawyer 
  to understand it, and has served our enterprises well for years.  
  Simply put, we will pounce on the opportunity to sell every
  bit of information on you we have at our disposal in order 
  to boost our bottom line.  We will gladly sell your 
  address, phone, email, age, name of pet, name of
  favorite superhero, color of bunny slippers you wear at 
  home, and the like, to any willing buyer who will pay us the big bucks.  
  (BTW, we <em>know</em> you wear bunny slippers at home and   
  we know what color they are.  You really have no secrets 
  from us.)  If you have sensitive information that you don't want us to 
  share with the world, then keep it to yourself -- don't tell us.  
  <br><br>
  It's really that simple.
</p>